<div class="home">
  <div class="login">
    <span>API url</span>
    <input type="text" [(ngModel)]="apiUrl">
    <span>Aerospike url</span>
    <input type="text" [(ngModel)]="url">
    <button [disabled]="loading" (click)='connect()'>Connect</button>
  </div>

  <div class="selection" *ngIf="connected">
    <div class="selection-step">
      <p>Select a namespace</p>
      <div class="list" *ngFor="let ns of namespaces">
        <button [className]="(namespaceSelected === ns ? 'active' : '') + ' gray'"
                (click)='selectNamespace(ns)'>{{ns}}</button>
      </div>
    </div>

    <div *ngIf="namespaceSelected" class="selection-step">
      <p>Select a set</p>
      <div class="list" *ngFor="let set of sets">
        <button [className]="(setSelected === set ? 'active' : '') + ' gray'" (click)='selectSet(set)'>{{set}}</button>
      </div>
    </div>

    <div *ngIf="keys.length" class="keys">
      <p>Records</p>
      <div class="table">
        <table>
          <thead>
          <tr>
            <th>Namespace</th>
            <th>Set</th>
            <th>Key</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of keys">
          <tr class="line">
            <td>{{item.ns}}</td>
            <td>{{item.set}}</td>
            <td>{{item.key}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="error" *ngIf="hasError">
    <p>
      {{errorMessage}}
    </p>
  </div>
</div>
